/* 
#708991
#A0CEDE
#95AEDE
#33308F
#5E5D5E - grey
*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img{
    max-width:100%;
    height:auto;
}
body{
    background-color:#fff;
    background-position: 100px 0;
    font-family: 'Cabin', sans-serif;
    margin:0;
}



.container{
    width:70vw;
    margin:40px auto;
}



header.primary{
    text-align: center;
    color:black;
    padding-top:40px;
    padding-right:40px;
    padding-bottom:10px;
    padding-left:40px;
    margin:0px;
}



header.primary h1 a{
    color:black;
    text-align: justify;
    height:100%;
    width:100%;
    background-image: url("../img/SpaceX-Logo.png");
    text-indent:100%;
    white-space: nowrap;
    overflow: hidden;
    
}
    
  


header.primary nav{
     width:80vw;
  margin:20px auto;
  max-width:900px;
}
header.primary nav li{
    list-style-type: none;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
header.primary nav a{
    color:black;
    background-color: #A0CEDE;
    padding: 8px 20px;
    border-radius:25px;
    border-radius: 20px;
    transition: .5s;
}
header nav a:hover, header nav a:active{
    background-color:rgba(0,0,0,.5);
}

#overview h2{
    text-align: center;
    text-transform: uppercase;
}
#overview{
    background-color: black;
    color:white;
    padding:50px;
    width:auto;
    height: auto;

}

#articles{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding-right: 1.8rem;
     
   
}

#articles article.post{

  width:90%;
  padding:10px;
  border-radius:4px;
  transition:.5s;
  background-color:#5E5D5E;
  margin-bottom:15px;
  border-radius:15px;
   box-shadow: 10px 10px 5px black;
}

li{
    margin-bottom: 10px;
}


article.widget{
    background-color:#A0CEDE;
    width:auto;
   
    
}
#colophon{
    background-color:black;
}
#colophon h6{
    text-align: center;
    color:white;
    padding-top: 30px;
    padding-left:30px;
    padding-right:30px;
}


